<form method="POST" action="/news">
  <hr>
  <div class="news-count">
    <label for="newsCount">количество новостей</label>
    <input 
      type="number" 
      name="newsCount" 
      {{#if newsCount}}
        value="{{{newsCount}}}" 
      {{/if}}
     />
  </div>
  <button type="submit">Отправить</button>
  
</form>
<div>
  <hr>
  <h1>Новости</h1>
  <hr>
  {{#if news}}
  <ol>
    {{#each news}}
      <li>{{this}}</li>
    {{/each}}
  </ol>
  {{/if}}
</div>