<div>
  <h2>name: {{{ user.name}}}</h2>
  {{#if user.age}}
    <h2>age: {{{ user.age}}}</h2>
  {{/if}}
  <ol>
    {{#each user.skills}}
      <li>{{this}}</li>
    {{/each}}
  </ol>
  <hr>
  <a href="/users">пользователи</a>
</div>