<div class = "cont">

{{#each c}}
<a class="course" href = "{{this.link}}">
    <div class="img">
        <img src="{{this.img}}"></img>
        <p>{{this.title}}</p>
    </div>
</a>
   
{{/each}}
    
</div>