<div>
    <h2>{{mediaName}}</h2>
    <form method="POST" action={{url}}>
        <label for="newsCount">Количество отображаемых новостей</label>
        <input id='newsCount' type="text" name="newsCount" placeholder="Количество отображаемых новостей">
        <input type="submit" value="Отправить">
    </form>
</div>