<div>
    <h2>Показаны последние {{count}} новостей</h2>
    <ul>
        {{#each news}}
        <li>>{{this}}</a></li>
        {{/each}}
    </ul>
</div>
<div>
    <h2>Введите кол-во новостей</h2>
    <form method="POST" action="/config">
      <input type="text" name="count" placeholder="Введите данные для вывода кол-ва новостей">
      <input type="submit" value="Отправить">
    </form>
</div>