{{> header}}
<div class="container shadow-sm app-container">
    <div class="row">
        <div class="col-12">
            {{{body}}}
        </div>
    </div>
</div>
<div class="container copyrights">
    <div class="row">
        <div class="col-12">
            &copy 2020 Funny news from NodeJS
        </div>
    </div>
</div>
{{> footer}}