* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 1.5em;
}

.header {
    padding: 10px 0;
    border-bottom: 1px solid black;
}
