<div>
    <h2>Config</h2>
    <form method="POST" action="/config">
    <input type="text" name="param1" placeholder="Введите данные для параметра 1">
    <input type="submit" value="Отправить">
    </form>
</div>