<div>
    <h2>Настройки</h2>
    <h4>Текущие настройки</h4>
    <p>Количество новостей на странице: {{ newsCount }}</p>
    <hr>
    <h4>Задать настройки</h4>
    <form method="POST" action="/config">
        <label for="news_form">Количество новостей</label>
        <select name="news" id="news_form">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
            <option value="48">48</option>
            <option value="60">60</option>
            <option value="72">72</option>
        </select>
        <input type="submit" value="Отправить">
    </form>
</div>